<ion-header >
  <ion-toolbar color= "light">
    <ion-buttons slot="start">
      <ion-back-button color="blue"></ion-back-button>
    </ion-buttons>
    <ion-title >Registra't</ion-title>
    <ion-img src="assets\icon\logo.png" style="width: 80px;height: 50px;margin-left: 280px;"></ion-img>
  </ion-toolbar>
</ion-header>
<ion-content >
  <ion-card color= "secondary">
    
    <ion-card-header>
      <ion-card-subtitle>Introdueix les teves dades</ion-card-subtitle>
      <ion-card-title>Usuari Nou</ion-card-title>
    </ion-card-header>
  
    <ion-card-content > 
      <form >
        <ion-card class="ion-no-margin"color = "light">
          <ion-item  >
            <ion-item > 
              <ion-label position="stacked">Dades personals</ion-label>
              <ion-input placeholder="Email" type="email" position="floating" #Email required>
                <ion-icon name="mail-open"></ion-icon>
              </ion-input>
              <ion-input placeholder="Nom i Cognoms" type="string" #NomIcognom  position="floating"required>
                <ion-icon name="call"></ion-icon>
              </ion-input>
              
              <ion-input placeholder="Contrasenya" type ="password" position="floating"#Contrasenya required>
                <ion-icon name="key"></ion-icon>
              </ion-input>
              <ion-input placeholder="DNI"  position="floating" #displayName required>
                <ion-icon name="card"></ion-icon>
              </ion-input>
              <ion-input placeholder="Movil" type="tel" maxlength="9" #Numero position="floating"required>
                <ion-icon name="call"></ion-icon>
              </ion-input>
            </ion-item>
          </ion-item>
        </ion-card>
        
    
        <ion-row>
          <ion-col>
            <ion-button type="submit" (click)="onRegister(Email, Contrasenya)"color="primary" expand="block">Registre'm</ion-button>
        
          </ion-col>
        </ion-row>
      </form>
    
      
    </ion-card-content>
  </ion-card>
  <ion-img src="assets\icon\logo.png" style="width: auto;height: 90px; margin-top: 22px; align-items: center"></ion-img>
</ion-content>

